* {
  text-align: center;
  font-size: large;
}

.headder {
  font-size: xx-large;
}

.paragraph {
  color: grey;
  animation: example 4s infinite;
}

.elements {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.elements #dropdown {
  min-width: 350px;
}

.inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

@keyframes example {
  0% {
    color: red;
  }
  25% {
    color: yellow;
  }
  50% {
    color: blue;
  }
  100% {
    color: green;
  }
}
